caption {
  width: 100%;
  display: inline-block;
}

body{
  background-color: #040822 !important;
  color: white !important;
}

figure {
  display: grid;
  justify-items: center;
}


caption {
  font-size: 32px;
  margin-top: 20px;
  display: grid;
  justify-items: center;
}

.main_div {
  margin-top: 80px;
}

.child_div{
  width: 400px;
  margin: auto;
}

.child_div input{
  width: 100%;
  padding: 8px 12px;
  font-size: 22px;
  border-radius: 8px;
}

.show_items{
  margin-top: 30px;
}

.each_item{
  width: 100%;
  padding: 8px 12px;
  margin-top: 10px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  font-size: 22px;
}

button{
  margin: auto;
}

.input_item{
  display: flex;
}

.btn-add {
  margin-left: -34px;
  color: green;
  margin-top: 18px;
  cursor: pointer;
}

i.fas.fa-edit {
  margin-right: 20px;
  cursor: pointer;
}

i.fas.fa-edit:hover {
  color: green;
}

.fa-icon{
  color: white;
  float: right;
  display: flex;
  margin-top: 4px;
}


i.fa-trash-alt:hover{
  color: red;
  z-index: 999999;
}

.btn{
  margin: auto;
  display: block;
}